body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 2.5em;
    color:#222;
    background: #ffffff;
    font-family: sans-serif;
}


<!--aqui se edita el tamaño de la imagen-->
img{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

a{
    text-decoration: none;
    color: inherit; 
}

.section{
    clear: both;
    padding:0;
    margin: 0;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child{
    margin-left: 0;
}

.span_3_of_3{
    width: 100%;
}

.span_2_of_3{
    width: 66.1%;
}

.span_1_of_3{
    width: 32.2%;
}

header{
    max-width: 100%;
    background: #ffffff44;
    padding: 20px;
}

nav{
    width: 100%;
    margin-bottom: 1em;
    background: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 1000px;
    display: block;
    margin: auto;
}

ul{
    padding: 0;
    margin-top: 0;
    overflow: hidden;
    color: white;
    font-weight: 300;
    text-align: center;
    transition: max-height 0.5s;

}
.nav-item{
    display: inline-block;
    padding: 20px;
    font-size: 1.4em;
}

Color selección botón
.nav-item:hover{
    background: #d1dfdb7a;
    cursor: pointer;
}

.menu-bar{
    width: 100%;
    box-sizing: border-box;
    background: #2d2d2d;
    text-align: left;
    padding: 15px 20px;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    display: none;
}

.hamburger-icon{
    float: right;
    clear: both;
    margin-top: -5px;
    font-size: 1.4em;
}

.container{
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
}

.blog-post{
    background: white;
    margin: 0 auto 2em auto;
    padding: 35px 30px;
}

.side-post{
    background: white;
    margin: 0 auto 1.5em auto;
    width: 15em;
    padding: 20px;
}

.blog-content{
    font-size: 1em;
    border-left: 5px solid #f3d7a1;
    padding-left: 15px;
}

.side-content{
    font-size: .9em;
    margin-top: 8px;
    margin-bottom: 0;
}

.blog-title{
    font-weight: 500px;
    font-size: 1.5em;
    margin-top: 5px;
}

.date{
    font-size: 1em;
    font-weight: 400;
    color: #9c9c9c;
    margin-top: -10px;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.post-link{
    color: #0841a8;
    font-style: italic;
    transition: all 0.4s;
}

.post-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.button{
    display: block;
    padding: 15px 20px;
    margin-top: .8em;
    background: #f3e59d;
    text-align: center;
    color: black;
    font-size: 1.4em;
    border-radius: 3px;
    transition: all .4s ease-in;
}

.button:hover{
    background: #ebca7c;
}

footer{
    width: 100%;
    float: right;
    background: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    box-sizing: border-box;
}

footer h2{
    margin: 20px auto;
}

footer p{
    margin: auto;
}

@media screen and (max-width: 56.25em){
    .col{
        margin: 1% 0 1% 0%;
    }
    
    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3{
        width: 100%;
    }

    .side-post{
        width: 42%;
        float: left;
        margin: -2% 0 1% 1.6%;
    }
}

@media screen and (max-width: 42.813em){
    .side-post{
        width: auto;
        padding: 15px;
        margin: -2% auto 8% auto;
    }

    .blog-title{
        font-size: 1.95em;
    }

    .date {
        font-size: .9em;
    }
}

@media screen and (max-width: 30em){
    nav ul{
        max-height: 0;
    }

    .reveal{
        max-height: 19em;
    }

    nav ul .nav-item{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }

    .menu-bar{
        display: block;
    }
}

@media  screen and (max-width: 23.75em){
    .blog-content,
    .post-link{
        font-size: .9em;
    }

    .side-content{
        font-size: .8em;
    }

    .button{
        padding: 10px 15px;
    }

    .nav-item{
        font-size: 1.2em;
    }
}

  .row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.banner1{
    text-align: center;
}

.infografia{
    text-align: center;
}

Menú desplegable
*{
    margin: 0;
    padding: 0;
  }
  header1{
    font-family: Helvetica;
    width: 1000px;
    margin: 0 auto;
  }
  ul{
    list-style: none;
  }
  #menu li>a{
    background-color: #000000;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  #menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu>li{
    float: left;
    text-align:center
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  }