Menú desplegable
*{
    margin: 0;
    padding: 0;
  }

  .header{
    font-family: Helvetica;
    width: 100%;
    margin: 0 auto;
  }
  
  ul{
    list-style: none;
  
}
  #menu li>a{
    background-color: #000000;
    color: white;
    padding: 3px;
    display: block;
    text-decoration: none;
    min-width: 470px;
}

#menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
  }

  #menu>li{
    float: center;
    text-align:center 
  }

  #menu>li>ul{
    display: none;
  }

  #menu>li:hover>ul {
    display:block;
  }

body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 2.5em;
    color:#222;
    background: #ffffff;
    font-family: sans-serif;
}

Tipografía menú
nav{
    width: 100%;
    margin-bottom: 1em;
    background: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 100%;
    display: block;
    margin: auto;
}

.intro{
    width: 100%;
    display: block;
    margin: auto;
}

.instruccion{
    width: 100%;
    display: block;
    margin: auto;
}

ul{
    padding: 0;
    margin-top: 0;
    overflow: hidden;
    color: white;
    font-weight: 300;
    text-align: center;
    transition: max-height 0.5s;
}

Color selección botón
.nav-item:hover{
    background: #d1dfdb7a;
    cursor: pointer;
}

.leyhumedales{
    width: 100%;
    display: block;
    margin: auto;
}

footer{
    width: 100%;
    float: right;
    background: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    box-sizing: border-box;
}

footer h4{
    margin: 40px auto;
    line-height: 0.8cm;
}

footer p{
    margin: auto;
    line-height: 0.7cm;
}

.banner1{
    text-align: center;
}

.infografia{
    text-align: center;
}

.footer{
    width: 100%
}